In [5]:
import pandas as pd 
import os
from itertools import chain
from collections import defaultdict

In [6]:
def get_site_name(file_name):
    remove_space = file_name.replace(' ', '')
    output = remove_space.split('.')[1].split('_')[0]
    return output

def get_file_name(file_names):
    for file_name in file_names:
        if '모수부족' in file_name:
            file_names.remove(file_name)
        elif 'topkeyword' not in file_name:
            file_names.remove(file_name)
                        
    return file_names

In [18]:
'''
path: data가 저장되어 있는 경로
'''

path = './sample'

file_names = get_file_name(os.listdir(path))

first_dict = dict()
smaple_output = defaultdict(list)


for file_name in file_names:

    # 관광지명 가져오기
    site_name = get_site_name(file_name)

    # 관광지명에 괄호가 존재할 경우 괄호 앞에 부분을 관광지명으로 정의
    if '(' in site_name:
        site_name = site_name.split('(')[0]

    if '[' in site_name:
        site_name = site_name.split('[')[0]

    if 'csv' in file_name:
        df = pd.read_csv(f'{path}/{file_name}', encoding='cp949')

    # 데이터분할 파일을 xlsx 형태
    if 'xlsx' in file_name:
        df = pd.read_excel(f'{path}/{file_name}', sheet_name=0, skiprows = 3)

    # 연관어 가져오기 
    keyword = df[['key', 'freq']]
    
    # 연관어에서 관광지 명 삭제
    if site_name in keyword:
        keyword.remove(site_name)

    get_dict = keyword.set_index('key')['freq'].to_dict()
    
    for k, v in chain(first_dict.items(), get_dict.items()):
        smaple_output[k].append(v)
        
    print(file_name)

01. 강릉커피거리_topkeyword - 복사본.csv
01. 강릉커피거리_topkeyword.csv

In [45]:
group_by_sum = dict()
a = output.items()

for k, v in a:
    group_by_sum[k] = sum(v)

In [49]:
df_output = pd.DataFrame.from_dict(group_by_sum, orient='index')
rename_df_output = df_output.rename(columns={0: "freq"})

In [81]:
a = rename_df_output.sort_values(by='freq', axis=0, ascending=False)
a.head(10)

          freq
ON     1373611
RE      791705
TWEET   764559
CO      493558
홍대      487864
서울      441252
에버랜드    384035
000원    245115
맛집      242996
동대문     241219

In [83]:
a['per'] = a['freq'] / a.shape(0)

TypeError: 'tuple' object is not callable

In [61]:
# 4건 이상
b = rename_df_output.query('freq > 3')
b.shape

(990937, 1)

In [63]:
b.sort_values('freq', axis=0, ascending=False).to_csv('dfklsdklf.csv', encoding='utf-8-sig')

In [77]:
s = a['freq'] / a.shape[0]